#myModal {
  @apply flex items-center justify-center fixed z-50 top-0 left-0 w-full h-full bg-black bg-opacity-50;
}

#myModal main {
  @apply relative bg-[#333] px-5 py-5 vsm:py-0 text-left text-white shadow-2xl rounded-lg transition-all m-5 sm:w-3/4 md:max-w-[640px] max-h-[500px] overflow-scroll tiny:max-h-none;

}

#myModal main>div:nth-child(1) {
  @apply text-left mb-5;
}

#myModal main>div:nth-child(1) span {
  @apply absolute right-3 top-3 cursor-pointer font-light text-4xl hover:text-primaryColor;
}

#myModal main>div:nth-child(1) h2 {
  @apply p-0 mt-5 text-left text-2xl tiny:text-3xl sm:text-5xl font-medium mb-2 max-w-[420px];
}

#myModal main>div:nth-child(2) li {
  @apply flex gap-2 mb-4
}

.toggle-description {
  @apply text-xs tiny:text-sm text-[#bbbbbb] py-2
}

#myModal main>div:nth-child(3) {
  @apply flex flex-row-reverse tiny:flex-col tiny:justify-end items-center tiny:items-end gap-2;
}

#myModal main>div:nth-child(3) button {
  @apply bg-primaryColor/85 hover:bg-primaryColor/60 text-white p-2 rounded;
}

#myModal main>div:nth-child(3) a {
  @apply text-sm text-[#5c5c5c] hover:text-primaryColor/50;
}

.modal-link {
  @apply text-primaryColor
}

/* Custom Toggle */
.toggle-switch, .disabled-toggle {
  @apply relative inline-block w-10 h-6 shadow-xl
}

.toggle-switch input {
  @apply hidden;
}

.toggle-helper {
  color: #5c5c5c;
  padding-left: 0.2em;
  font-size: 0.8em;
}

.extra-toggle {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
  gap: 10px;
}

.disabled-toggle .slider {
  cursor: not-allowed;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.disabled-toggle .slider {
  @apply bg-primaryColor/50
}

input:checked+.slider:before, .disabled-toggle .slider:before {
  transform: translateX(16px);
}

input:checked+.slider {
  @apply bg-primaryColor/85
}

.openModalButton {
  cursor: pointer;
}
